
/* Top nav styles */
.topnav {
    background-color: #203347;
    color: #f2f2f2;
    display: flex;                  /* Use flexbox for layout */
    justify-content: space-between; /* Space between h1 and nav links */    
    padding: 20px;
}

/* Navigation links */
.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    margin: 80px 10px 10px 10px;
    font-weight: 400;
    padding: 0 10px;
}
.topnav h2 {
    font-size: medium;
    font-weight: 100;
    padding: 5px;
    margin: 0;
}
/* Main title */
.topnav h1 {
    font-weight: 600;
    margin: 0;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* edit the profile picture */
.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensure the image covers the area without distortion */
    padding: 0 10px;
}
#home {
    display: flex;
    align-items: center;
    margin: 30px 40px;
}
.home-text {
    flex-direction: column;
    margin-left: 50px;
}   
#home h1 {
    margin: 0 0 10px 0;
}
#home p {
    margin-left: 0px;
}

/* Skill and certificate section */

.skills-grid, .Recommendation-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.skill-card,.comment-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.skill-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card h3 {
  margin: 8px 0 4px;
  font-size: 18px;
  font-weight: 600;
}

.skill-card p {
  font-size: 14px;
  color: #555;
}

/* Recommendation section */
/* Remove fieldset border */
.contact-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.contact-form {
    display: grid;
    justify-items: center;
    place-items: center;
}

/* Style the form */
#recommendation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;                   /* spacing between inputs */
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
}

/* Inputs and textarea */
#recommendation-form input[type="text"],
#recommendation-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Submit button */
#recommendation-form input[type="submit"] {
    background-color: #203347;

  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

#recommendation-form input[type="submit"]:hover {
  background-color: #5545ec;
}
